<div class="side">
<mat-list role="list">
    <div class="profile-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"
            alt="">
            <h3>Admin</h3>
            <h4>Admin@gmail.com</h4>
    </div>
    <mat-divider></mat-divider>
    <h4 mat-subheader>Pages</h4>
    <a mat-list-item role="listitem" routerLinkActive="list-items-active" routerLink="/"> DashBoard</a>
    <a mat-list-item role="listitem" routerLinkActive="list-items-active" routerLink="/">Institution</a>
    <a mat-list-item role="listitem" routerLinkActive="list-items-active" routerLink="/">Student</a>
    <a mat-list-item role="listitem" routerLinkActive="list-items-active" routerLink="/">Placements</a>
    <a mat-list-item role="listitem" routerLinkActive="list-items-active" routerLink="/">statistics</a>
    <a mat-list-item role="listitem" routerLinkActive="list-items-active" routerLink="/">course</a>
    <a mat-list-item role="listitem" routerLinkActive="list-items-active" routerLink="/">Employes</a>
</mat-list>
</div>